<?xml version="1.0" encoding="UTF-8" ?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" id="jerry.shen.plugin.ParsePushNotification" version="0.1.0">
	<name>ParsePushNotification</name>
	<description>ParsePushNotification</description>
	<license>MIT</license>
	<keywords>phonegap,parse,push,notification,plugin</keywords>


	<js-module src="www/parsePushNotification.js" name="ParsePushNotification">
		<clobbers target="window.parsePushNotification" />
	</js-module>

	<!-- android -->
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="ParsePushNotification">
				<param name="android-package" value="jerry.shen.plugin.ParsePushNotification" />
			</feature>
		</config-file>
		<source-file src="src/android/parse-sdk/Parse-1.7.1.jar" target-dir="libs" framework="true" />
		<source-file src="src/android/parse-sdk/bolts-android-1.1.3.jar" target-dir="libs" framework="true" />
		<source-file src="src/android/ParsePushNotification.java" target-dir="src/jerry/shen/plugin" />
	</platform>
</plugin>
